<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>sangeethlabs.com | {{ page.title }}</title>

<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

<link rel='stylesheet' href='/css/style.css' type='text/css' media='all' />
<link rel="stylesheet" href="/css/dynamic.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/syntax.css"></link>
<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
</head>