<ul class="sidebar_widgets fix"  id="list_sidebar_primary">
	<li class="widget_recent_entries widget fix"
		id="recent-posts-2"><div class="widget-pad">
			<h3 class="widget-title">Recent Posts</h3>
			<ul>
{% for post in site.posts limit:5 %}
				<li>
				<a title="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a>
				</li>
{% endfor %}			
			</ul>
		</div>
	</li>
	<li class="widget_meta widget fix" id="meta-2"><div
			class="widget-pad">
			<h3 class="widget-title">Tweets</h3>


<a class="twitter-timeline" href="https://twitter.com/sangeethlabs" data-widget-id="368781817618251777">Tweets by @sangeethlabs</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


		</div>
	</li>
</ul>