<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>sangeethlabs.com | {{ page.title }}</title>

<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

<link rel='stylesheet' href='/css/style.css' type='text/css' media='all' />
<link rel="stylesheet" href="/css/dynamic.css" type="text/css"
	media="all" />
<link rel="stylesheet" href="/css/syntax.css"></link>

<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
</head>
<body class="blog full_width ttype-posts tmain-posts">
	<div id="site" class="one-sidebar-right">
		<!-- #site // Wraps #header, #page-main, #footer - closed in footer -->
		<div id="page">
			<!-- #page // Wraps #header, #page-main - closed in footer -->
			<div id="page-canvas">
				<div id="header" class="container-group fix">
					<div class="outline">
						<div id="branding" class="container fix">
							<div class="texture">
								<div class="content">
									<div class="content-pad">
										<div class="branding_wrap">
											<a class="mainlogo-link" href="http://www.sangeethlabs.com"
												title="Sangeeth Labs"><img class="mainlogo-img"
												src="/images/sangeethlabs.png" alt="Sangeeth Labs" /> </a>

											<div class="icons" style="bottom: 0px; right: px;">

												<a target="_blank" href="http://in.linkedin.com/in/sangeeth"
													class="linkedinlink"></a> <a target="_blank"
													href="http://www.twitter.com/sangeeth/" class="twitterlink"></a>
											</div>
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</div>
						</div>
						<div id="primary-nav" class="container fix">
							<div class="texture">
								<div class="content">
									<div class="content-pad">
										<div id="nav_row" class="main_nav fix">

											<ul id="menu-nav" class="main-nav">
												<li class="page_item page-item-10 current_page_item"><a
													href="/">Home</a></li>
												<li class="page_item page-item-17"><a
													href="http://corvidsystems.com/contact-us/">Projects</a></li>
												<li class="page_item page-item-22"><a
													href="http://corvidsystems.com/blog/">Blog</a></li>
												<li class="page_item page-item-22"><a
													href="http://corvidsystems.com/blog/">Archives</a></li>
											</ul>
											<form method="get" class="searchform"
												action="http://sangeethlabs.com/"
												onsubmit="this.submit();return false;">
												<fieldset>
													<input type="text" value="Search" name="s"
														class="searchfield"
														onfocus="if (this.value == 'Search') {this.value = '';}"
														onblur="if (this.value == '') {this.value = 'Search';}" />

													<input type="image" class="submit btn" name="submit"
														src="css/images/search-btn.png" alt="Go" />
												</fieldset>
											</form>
										</div>

										<div class="clear"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="page-main" class="container-group fix">
					<!-- #page-main // closed in footer -->
					<div id="dynamic-content" class="outline fix">
						<div id="maincontent" class="container fix">
							<div class="texture">
								<div class="content">
									<div class="content-pad">
										<div id="pagelines_content" class="one-sidebar-right fix">

											<div id="column-wrap" class="fix">

												<div id="column-main" class="mcolumn fix">
													<div class="mcolumn-pad">
														<div id="theloop" class="copy fix">
															<div class="copy-pad">
																<div
																	class="post-10 page type-page status-publish hentry fpost"
																	id="post-10">
																	<div class="entry_wrap fix">
																		<div class="entry_content">
																		
																		<h1>{{ page.title }}</h1>
																		<span></span>
																		<hr/>
																		
																		{{ content }}
																		</div>
																		<div class="tags">&nbsp;</div>
																	</div>
																</div>
																<div class="clear"></div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="fix" id="sidebar-wrap">
												<div class="scolumn fix" id="sidebar1">
													<div class="scolumn-pad">
														<div class="copy fix" id="sidebar_primary">
															<div class="copy-pad">
																{% include sidebar.html %}
																<div class="clear"></div>
															</div>
														</div>

													</div>
												</div>
											</div>

										</div>
										<div class="clear"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END #dynamic-content -->

					<div id="morefoot_area">
						<div id="morefoot" class="container fix">
							<div class="texture">
								<div class="content">
									<div class="content-pad">
										<div class="clear"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>

				</div>
				<!-- END #page-main from header -->
			</div>
			<!-- END #page-canvas from header -->
		</div>
		<!-- END #page from header -->

		<div id="footer">
			<div class="outline fix">
				<div id="footcols" class="container fix">
					<div class="texture">
						<div class="content">
							<div class="content-pad">
								
								{% include footer.html %}
								<div class="clear"></div>
							</div>
						</div>
					</div>
				</div>
				<div id="cred" class="pagelines">
					<a class="plimage" target="_blank"
						href="http://www.sangeethlabs.com/" title="Sangeeth :-)"><img
						src="/images/logo.png" alt="Sangeeth" /> </a>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</body>
</html>