<!DOCTYPE html>
<html>
{% include head.html %}
<body class="blog full_width ttype-posts tmain-posts">
	<div id="site" class="one-sidebar-right">
		<!-- #site // Wraps #header, #page-main, #footer - closed in footer -->
		<div id="page">
			<!-- #page // Wraps #header, #page-main - closed in footer -->
			<div id="page-canvas">
				{% include header.html %}
				<div id="page-main" class="container-group fix">
					<!-- #page-main // closed in footer -->
					<div id="dynamic-content" class="outline fix">
						<div id="maincontent" class="container fix">
							<div class="texture">
								<div class="content">
								   <div class="content-pad">
										<div id="theloop" class="copy fix">
											<div class="copy-pad">
												<div
													class="post-10 page type-page status-publish hentry fpost"
													id="post-10">
		
													<div class="post-meta fix">
		
														<div class="post-header fix post-nothumb" style="">
															<div class="post-title-section fix">
		
																<div class="post-title fix">
		
																	<h1 class="entry-title">{{ page.title }}</h1>
																	<div class="metabar">
																		<em>
																		    <span class="sword"> posted on</span> 
																		    <span
																			class="date time published"
																			title="{{ page.date | date_to_long_string }}">
																			{{ page.date | date_to_long_string }}
																			</span>
																		</em>
																		{% if page.sourceURL != null %}
																		<span>
																		    <a target="_blank" class="sourceURL" href="{{ page.sourceURL }}" title="Go to Source"></a>
																		</span>
																		{% endif %}
																		<div>
																		{% if page.tags != null %}
																		<em>
																		    <span class="sword">Tags:</span>
																		    <span class="published">{{ page.tags }}</span>
																		</em>
																		{% endif %}
																		</div>
																	</div>
																</div>
															</div>
		
		
														</div>
													</div>
		
													<div class="entry_wrap fix">
														<div class="entry_content">
														{{ content }}
														</div>
														<div class="tags">&nbsp;</div>
													</div>
												</div>
												<div class="clear"></div>
											</div>
											<div class="clear"></div>
										</div>								   
								   </div>
								</div>
							</div>
						</div>
					</div>
					<!-- END #dynamic-content -->

					<div id="morefoot_area">
						<div id="morefoot" class="container fix">
							<div class="texture">
								<div class="content">
									<div class="content-pad">
										<div class="clear"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>

				</div>
				<!-- END #page-main from header -->
			</div>
			<!-- END #page-canvas from header -->
		</div>
		<!-- END #page from header -->

		<div id="footer">
			<div class="outline fix">
				<div id="footcols" class="container fix">
					<div class="texture">
						<div class="content">
							<div class="content-pad">
								
								{% include footer.html %}
								<div class="clear"></div>
							</div>
						</div>
					</div>
				</div>
				<div id="cred" class="pagelines">
					<a class="plimage" target="_blank"
						href="http://www.sangeethlabs.com/" title="Sangeeth :-)"><img
						src="/images/logo.png" alt="Sangeeth" /> </a>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</body>
</html>