<!DOCTYPE html>
<html>
<head>
{% include head.html %}
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="/js/mustache.js"></script>
<script src="{{page.searchService}}/api.js"></script>
<script type="text/javascript">
var searchService = "{{page.searchService}}";
</script>
<script type="text/javascript" src="/js/search.js"></script>
</head>
<body class="blog full_width ttype-posts tmain-posts">
	<div id="site" class="one-sidebar-right">
		<!-- #site // Wraps #header, #page-main, #footer - closed in footer -->
		<div id="page">
			<!-- #page // Wraps #header, #page-main - closed in footer -->
			<div id="page-canvas">
				{% include header.html %}
				<div id="page-main" class="container-group fix">
					<!-- #page-main // closed in footer -->
					<div id="dynamic-content" class="outline fix">
						<div id="maincontent" class="container fix">
							<div class="texture">
								<div class="content">
									<div class="content-pad">
                                  <h1 id="pageTitle" class="entry-title hidden">
                                      Search results for <b style="font-family: Courier" id="titleQueryString"></b>
                                  </h1>
						<div
                          class="post-10 page type-page status-publish hentry fpost"
                          id="post-10">
                            <div class="entry_content">
								<div id="searchResults" class="hidden">
									
								</div>
								<div id="noSearchResults" class="billboard hidden">
									<h2 class="center">No results for <b id="queryString">"${queryString}"</b></h2>
									<p class="subhead center">Try another search</p>
								</div>
                            </div>
                     </div>
                     <div class="clear"></div>       
										
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END #dynamic-content -->

					<div id="morefoot_area">
						<div id="morefoot" class="container fix">
							<div class="texture">
								<div class="content">
									<div class="content-pad">
										<div class="clear"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>

				</div>
				<!-- END #page-main from header -->
			</div>
			<!-- END #page-canvas from header -->
		</div>
		<!-- END #page from header -->

		<div id="footer">
			<div class="outline fix">
				<div id="footcols" class="container fix">
					<div class="texture">
						<div class="content">
							<div class="content-pad">
								
								{% include footer.html %}
								<div class="clear"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>